<form [formGroup] = "igForm">
  <div>

    <mat-form-field appearance="fill">
      <mat-label> Username </mat-label>
      <input matInput id="username" type="text" formControlName="username">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label> Upload Date </mat-label>
      <input matInput id="uploadDate" type="date" formControlName="uploadDate">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label> Upload Type </mat-label>
      <mat-select id="uploadType" formControlName="uploadType" class="form-control" placeholder="Upload Type">
        <mat-option>Choose upload list type</mat-option>
        <mat-option value="type.value" *ngFor="let type of uploadTypeList">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</form>
<app-file-upload [isFormValid]="igForm.valid" [httpParams]="buildFormHeader()"></app-file-upload>
<br><hr>
<app-compare-data></app-compare-data>
