<form [formGroup] = "igDataCompare">
  <div>
    <label for="username">
      Username
    </label>
    <input id="username" type="text" formControlName="username">
    <div>
      <label for="uploadDate1">
        Upload Date 1
      </label>
      <input id="uploadDate1" type="date" formControlName="uploadDate1">
      <label for="uploadType1">
        Upload Type 1
        <select id="uploadType1" formControlName="uploadType1" class="form-control">
          <option disabled> Upload Type </option>
          <option>Choose upload list type</option>
          <option *ngFor="let type of uploadTypeList">{{type}}</option>
        </select>
      </label>
      <label for="selectList1">
        Upload List 1
        <select (change)="onListChange1($event)" id="selectList1" formControlName="selectList1" class="form-control">
          <option disabled> Upload List </option>
          <option>Choose list</option>
          <option *ngFor="let list of uploadList1">{{list.uploadDate}} | {{list.followingList === true ? 'Following List' : 'Follower List'}} | {{list.id}}</option>
        </select>
      </label>
    </div>
    <div>
      <label for="uploadDate2">
        Upload Date 2
      </label>
      <input id="uploadDate2" type="date" formControlName="uploadDate2">
      <label for="uploadType2">
        Upload Type 2
        <select id="uploadType2" formControlName="uploadType2" class="form-control">
          <option disabled> Upload Type </option>
          <option>Choose upload list type</option>
          <option *ngFor="let type of uploadTypeList">{{type}}</option>
        </select>
      </label>
      <label for="selectList2">
        Upload List 2
        <select (change)="onListChange2($event)" id="selectList2" formControlName="selectList2" class="form-control">
          <option disabled> Upload List </option>
          <option>Choose list</option>
                    <option *ngFor="let list of uploadList2">{{list.uploadDate}} | {{list.followingList === true ? 'Following List' : 'Follower List'}} | {{list.id}}</option>
        </select>
      </label>
    </div>
  </div>

</form>

<button mat-raised-button color="primary" class="compare-btn" (click)="onCompareClick()" [disabled]="!igDataCompare.valid">
  <mat-icon>compare_arrows</mat-icon>
</button>

<br><br>

<div>
  <mat-selection-list class="igUsers">
    <h3 *ngIf = "userList1.length > 0">Upload List 1</h3>
    <mat-list-item *ngFor="let user1 of userList1; let i = index;">
      <span class="badge">{{i+1}}</span>{{user1.username}} : {{user1.name}}
    </mat-list-item>
  </mat-selection-list>
  <mat-selection-list class="igUsers">
    <h3 *ngIf = "userList2.length > 0">Upload List 2</h3>
    <mat-list-item *ngFor="let user2 of userList2; let j = index;">
      <span class="badge">{{j+1}}</span>{{user2.username}} : {{user2.name}}
    </mat-list-item>
  </mat-selection-list>
</div>

<!--<app-result-list [displayList]="comparedList"></app-result-list>-->
