<form [formGroup] = "igDataCompare">
  <div>
    <label for="username">
      Username
    </label>
    <input id="username" type="text" formControlName="username">
    <div>
      <label for="uploadDate1">
        Upload Date 1
      </label>
      <input id="uploadDate1" type="date" formControlName="uploadDate1">
      <label for="uploadType1">
        Upload Type 1
        <select id="uploadType1" formControlName="uploadType1" class="form-control">
          <option disabled> Upload Type </option>
          <option>Choose upload list type</option>
          <option *ngFor="let type of uploadTypeList">{{type}}</option>
        </select>
      </label>
      <label for="selectList1">
        Upload List 1
        <select (change)="onListChange1($event)" id="selectList1" formControlName="selectList1" class="form-control">
          <option disabled> Upload List </option>
          <option>Choose list</option>
          <option *ngFor="let list of uploadList1">{{list.uploadDate}} | {{list.followingList === true ? 'Following List' : 'Follower List'}} | {{list.id}}</option>
        </select>
      </label>
    </div>
    <div>
      <label for="uploadDate2">
        Upload Date 2
      </label>
      <input id="uploadDate2" type="date" formControlName="uploadDate2">
      <label for="uploadType2">
        Upload Type 2
        <select id="uploadType2" formControlName="uploadType2" class="form-control">
          <option disabled> Upload Type </option>
          <option>Choose upload list type</option>
          <option *ngFor="let type of uploadTypeList">{{type}}</option>
        </select>
      </label>
      <label for="selectList2">
        Upload List 2
        <select (change)="onListChange2($event)" id="selectList2" formControlName="selectList2" class="form-control">
          <option disabled> Upload List </option>
          <option>Choose list</option>
                    <option *ngFor="let list of uploadList2">{{list.uploadDate}} | {{list.followingList === true ? 'Following List' : 'Follower List'}} | {{list.id}}</option>
        </select>
      </label>
    </div>
  </div>

</form>

<button mat-raised-button color="primary" class="compare-btn" (click)="onCompareClick()" [disabled]="!igDataCompare.valid">
  <mat-icon>compare_arrows</mat-icon>
</button>

<br><br>

<mat-tab-group>
  <mat-tab label="List 1">
  <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let element"> {{ element.username }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnDefs"></tr>
    <tr mat-row *matRowDef="let row; columns: columnDefs;"></tr>

  </table>
    <mat-paginator #paginator1 [pageSize]="10" [pageSizeOptions]="[10, 15, 20]"
                   showFirstLastButtons
                   aria-label="Select page of users">
    </mat-paginator>
  </mat-tab>

  <mat-tab label="List 2">
  <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let element"> {{ element.username }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnDefs"></tr>
    <tr mat-row *matRowDef="let row; columns: columnDefs;"></tr>

  </table>
    <mat-paginator #paginator2 [pageSize]="10" [pageSizeOptions]="[10, 15, 20]"
                   showFirstLastButtons
                   aria-label="Select page of users">
    </mat-paginator>
  </mat-tab>

</mat-tab-group>
